h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #5072A7;
    text-shadow: 2px blue;
    animation-duration: 2s;
    animation-direction: normal;
    animation-name: Slide;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #0039a6;
    text-shadow: 2px blue;
    font-size: large;
    text-decoration: dashed;
    animation-duration: 2s;
    animation-direction: normal;
    animation-name: Slide;
}
main {
    background-color: #F0F8FF;
    margin: 3%;
    padding: 5%;
    box-shadow: 7px 4px #4bb1ff;
    padding-bottom: 10px;
    animation-duration: 4s;
    animation-direction: normal;
    animation-name: Slide;}
@keyframes Slide {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0);
    }
}